* {
    font-family: sans-serif;
    color: #cccccc;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    display: flex;
    justify-content: center;
}

main {
    padding: 2rem 0;
    max-width: 50rem;
    min-width: 50rem;
}

input {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    background-color: #212121;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid transparent;
}

input:hover {
    border: 1px solid whitesmoke;
}

a {
    all: unset;
    box-sizing: border-box;
}

button {
    all: unset;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

.post header {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.timestamp {
    font-size: 0.78rem;
    color: #999999;
}

#invalid-message-alert {
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bb0000;
    top: -2.5rem;
    transition: top ease-out 0.5s;
    font-size: 1.3rem;
    padding: 0.3rem 0.5rem;
}

#invalid-message-alert.visible {
    top: 4rem;
}

.input {
    position: relative;
    display: flex;
}

.input > * {
    padding: 0.5rem 1rem;
}

span.editable {
    display: block;
    width: 100%;
    background-color: #212121;
    border-radius: 5px;
    border: 1px solid transparent;
}

.placeholder {
    pointer-events: none;
    position: absolute;
    color: #999999;
}
